.confirm-show {
  background-color: #f8f8f8;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5vh 0;
}

.confirm-box {
  background-color: #FFF;
  width: 70vw;
  height: 100vh;
  min-width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.confirm-title{
  font-size: 30px;
  margin: 10px;
}
.confirm-delete-btn{
  background-color: rgb(239, 134, 134);
  text-align: center;
  font-size: 20px;
  color: black;
  margin: 20px 20px;
  padding: 1vh ;
  width: 12vw;
}
.confirm-cancel-btn{
  background-color: lightgray;
  text-align: center;
  font-size: 20px;
  color: black;
  margin: 20px 20px;
  padding: 1vh ;
  width: 12vw;
}
.confirm-box-img {
  height: 250px;
  width: 340px;
  background-color: rgb(205, 202, 202);
  object-fit: contain;
}
.confirm-name-box {
  font-size: 24px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.confirm-destroy-box{
  border: 1px solid #dedede;
  padding: 10px 20px;
  margin:20px 0 ;
}
.confirm-destroy-message {
  margin: 25px 0px;
  font-size: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.confirm-btn{
  display: flex;
  align-items: center;
}
